@import "tailwindcss";

html,
body,
#app {
  font-family: 'Pretendard JP Variable', 'Helvetica Neue', Helvetica, Arial,
    'Segoe UI', 'Hiragino Sans', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN',
    'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'Yu Gothic Medium', sans-serif;
  @apply w-[100dvw] h-[100dvh] overflow-hidden;
}

video {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  image-rendering: auto !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  z-index: -1 !important;
}

@font-face {
	font-family: 'Pretendard JP Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('/PretendardJPVariable.woff2') format('woff2-variations');
}
